<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.absinthe.anywhere_">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="moe.shizuku.manager.permission.API"
        android:maxSdkVersion="23" />

    <uses-permission-sdk-23 android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission-sdk-23 android:name="moe.shizuku.manager.permission.EXEC_COMMAND" />

    <application
        android:name=".AnywhereApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.SplashTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter> <!-- URL Scheme启动 -->
                <!-- 必有项 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- 如果希望该应用可以通过浏览器的连接启动，则添加该项 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 协议部分 -->
                <data
                    android:host="url"
                    android:scheme="anywhere" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings_title"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:theme="@style/AppTheme.About" />
        <activity
            android:name=".ui.shortcuts.ShortcutsActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.shortcuts.ShortcutsSettingsActivity"
            android:label="@string/shortcuts_title"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.backup.BackupActivity"
            android:label="@string/settings_backup"
            android:parentActivityName=".ui.settings.SettingsActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ui.list.AppListActivity"
            android:theme="@style/AppTheme.AppList"
            android:parentActivityName=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>


        <provider
            android:name="moe.shizuku.api.ShizukuBinderReceiveProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <service
            android:name=".services.CollectorTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_logo"
            android:label="@string/tile_collector_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.CollectorService"
            android:enabled="true" />
        <service
            android:name=".services.AppRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".provider.HomeWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_home_provider_info" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.absinthe.anywhere_.action.CLICK" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
    </application>

</manifest>