<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.absinthe.anywhere_"
  tools:ignore="QueryAllPackagesPermission">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
  <uses-permission android:name="moe.shizuku.manager.permission.EXEC_COMMAND" />
  <uses-permission android:name="${applicationId}.provider.READ" />

  <permission
    android:name="${applicationId}.provider.READ"
    android:label="@string/permission_label_provider_read"
    android:protectionLevel="normal" />

  <application
    android:name=".AnywhereApplication"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_rules"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="${appName}"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">

    <!--    Home    -->
    <activity
      android:name=".ui.main.MainActivity"
      android:configChanges="orientation"
      android:exported="true"
      android:launchMode="singleTop">
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity>

    <!--    Transparent icon launcher    -->
    <activity-alias
      android:name=".TransIconActivity"
      android:configChanges="orientation"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/transparent"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:roundIcon="@drawable/transparent"
      android:targetActivity=".ui.main.MainActivity">
      <intent-filter>

        <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="url"
          android:scheme="anywhere" />
      </intent-filter>
      <intent-filter> <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="share"
          android:scheme="anywhere" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <!--    Default icon launcher    -->
    <activity-alias
      android:name=".MainAliasActivity"
      android:configChanges="orientation"
      android:enabled="true"
      android:exported="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:targetActivity=".ui.main.MainActivity">
      <intent-filter>

        <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="url"
          android:scheme="anywhere" />
      </intent-filter>
      <intent-filter> <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="share"
          android:scheme="anywhere" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <!--    Setup    -->
    <activity
      android:name=".ui.setup.SetupActivity"
      android:exported="false"
      android:label="@string/setup_title" />

    <!--    Settings    -->
    <activity
      android:name=".ui.settings.SettingsActivity"
      android:exported="true"
      android:label="@string/settings_title"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
      </intent-filter>
    </activity>

    <!--    About page    -->
    <activity
      android:name=".ui.about.AboutActivity"
      android:exported="false"
      android:label="@string/about_title"
      android:theme="@style/AppTheme.About" />

    <!--    Shortcut bridge    -->
    <activity
      android:name=".ui.shortcuts.ShortcutsActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:label="@string/shortcut_open"
      android:launchMode="singleInstance"
      android:theme="@style/Transparent">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT" />
      </intent-filter>
      <intent-filter> <!-- Start from URL Scheme -->
        <!-- Required -->
        <action android:name="android.intent.action.VIEW" />
        <!-- Start from a browser -->
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Implicit intent -->
        <category android:name="android.intent.category.DEFAULT" />
        <!-- Protocol -->
        <data
          android:host="open"
          android:scheme="anywhere" />
      </intent-filter>
    </activity>

    <!--    Backup page    -->
    <activity
      android:name=".ui.backup.BackupActivity"
      android:exported="false"
      android:label="@string/settings_backup" />

    <!--    App list page    -->
    <activity
      android:name=".ui.list.AppListActivity"
      android:exported="false"
      android:label="@string/app_list_title"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SHOW_APP_INFO" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <!--    App detail page    -->
    <activity
      android:name=".ui.list.AppDetailActivity"
      android:exported="false"
      android:label="@string/app_list_detail_title" />

    <!--    Tile setting page    -->
    <activity
      android:name=".ui.settings.TileSettingsActivity"
      android:exported="true"
      android:label="@string/settings_tiles">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
      </intent-filter>
    </activity>

    <!--    QR code collection page    -->
    <activity
      android:name=".ui.qrcode.QRCodeCollectionActivity"
      android:configChanges="orientation"
      android:exported="false"
      android:label="@string/btn_qr_code_collection" />

    <!--    Lab page    -->
    <activity
      android:name=".ui.settings.LabActivity"
      android:exported="false"
      android:label="@string/settings_lab" />

    <!--    Defrost mode page    -->
    <activity
      android:name=".ui.settings.DefrostActivity"
      android:exported="false"
      android:label="@string/title_activity_defrost" />

    <!--    Logcat page    -->
    <activity
      android:name=".ui.settings.LogcatActivity"
      android:exported="false"
      android:label="@string/logcat" />

    <!--    Cloud rules page    -->
    <activity
      android:name=".ui.cloud.CloudRulesActivity"
      android:exported="false"
      android:label="@string/btn_cloud_rules" />

    <!--    Editor container    -->
    <activity
      android:name=".ui.editor.EditorActivity"
      android:exported="true"
      android:label="@string/card_editor_title">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT" />
        <action android:name="com.absinthe.anywhere_.intent.action.EDITOR" />
      </intent-filter>
    </activity>

    <!--    Override    -->
    <activity
      android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
      android:exported="false"
      tools:replace="exported" />

    <activity
      android:name="com.blankj.utilcode.util.UtilsTransActivity"
      android:exported="false"
      tools:replace="exported" />

    <activity
      android:name=".ui.shortcuts.ThirdAppsShortcutActivity"
      android:exported="false" />

    <!--    Collector tile service    -->
    <service
      android:name=".services.tile.CollectorTileService"
      android:enabled="true"
      android:exported="true"
      android:icon="@drawable/ic_logo"
      android:label="@string/tile_collector_on"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Overlay view service    -->
    <service
      android:name=".services.overlay.OverlayService"
      android:enabled="true"
      android:exported="false" />

    <!--    Custom tile one service    -->
    <service
      android:name=".services.tile.TileService1"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile1"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Custom tile two service    -->
    <service
      android:name=".services.tile.TileService2"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile2"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Custom tile three service    -->
    <service
      android:name=".services.tile.TileService3"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile3"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Custom tile three service    -->
    <service
      android:name=".services.tile.TileService4"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile4"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Custom tile three service    -->
    <service
      android:name=".services.tile.TileService5"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile5"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Custom tile three service    -->
    <service
      android:name=".services.tile.TileService6"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile6"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Custom tile three service    -->
    <service
      android:name=".services.tile.TileService7"
      android:enabled="false"
      android:exported="true"
      android:icon="@drawable/ic_android"
      android:label="Tile7"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
    </service>

    <!--    Collector service    -->
    <service
      android:name=".services.overlay.CollectorService"
      android:enabled="true" />

    <!--    Home launcher widget service    -->
    <service
      android:name=".services.widget.AppRemoteViewsService"
      android:exported="true"
      android:permission="android.permission.BIND_REMOTEVIEWS" />

    <!--    Accessibility service    -->
    <service
      android:name=".services.IzukoService"
      android:exported="false"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>

      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/accessibility_service_config" />
    </service>

    <!--    Workflow service    -->
    <service
      android:name=".services.WorkflowIntentService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />

    <!--    Backup service    -->
    <service
      android:name=".services.BackupIntentService"
      android:exported="false"
      android:permission="android.permission.BIND_JOB_SERVICE" />
    <!--    Device Control    -->
    <service
      android:name=".services.widget.AwControlsProviderService"
      android:exported="true"
      android:permission="android.permission.BIND_CONTROLS">
      <intent-filter>
        <action android:name="android.service.controls.ControlsProviderService" />
      </intent-filter>
    </service>

    <!--    Home launcher widget click event receiver    -->
    <receiver
      android:name=".receiver.HomeWidgetProvider"
      android:exported="true">
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_home_provider_info" />

      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="${applicationId}.action.CLICK" />
      </intent-filter>
    </receiver>

    <!--    DPM receiver    -->
    <receiver
      android:name=".receiver.AdminReceiver"
      android:exported="true"
      android:permission="android.permission.BIND_DEVICE_ADMIN">
      <intent-filter>
        <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
        <action android:name="android.app.develop.action.DEVICE_DELEGATION" />
      </intent-filter>

      <meta-data
        android:name="android.app.develop.delegation"
        android:resource="@xml/app_delegation" />
    </receiver>

    <!--    Notification click event receiver    -->
    <receiver
      android:name=".receiver.NotificationClickReceiver"
      android:exported="false" />

    <!--    Shizuku provider    -->
    <provider
      android:name="rikka.shizuku.ShizukuProvider"
      android:authorities="${applicationId}.shizuku"
      android:enabled="true"
      android:exported="true"
      android:multiprocess="false"
      android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!--    File provider    -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
    <!--    Core Provider    -->
    <provider
      android:name=".provider.CoreProvider"
      android:authorities="${applicationId}.coreprovider"
      android:exported="true"
      android:readPermission="com.absinthe.anywhere_.provider.READ"
      android:writePermission="com.absinthe.anywhere_.provider.WRITE" />

    <meta-data
      android:name="android.max_aspect"
      android:value="2.4" />
  </application>

</manifest>
